#!/bin/bash

# TYPE: alias
# DESC: open dofiles directory in Sublime
alias dotfiles="subl $DOTFILES_DIR"

# TYPE: alias
# DESC: open dofiles directory in Sublime
alias pro="subl $HOME/.bash_profile"

# TYPE: alias
# DESC: runs Python with interpreter
alias pi="python -i"

# TYPE: alias
# DESC: adds headers to 'ps' command
alias ps="ps -ef | head -1; ps"

# TYPE: alias
# DESC: open dofiles directory in Sublime
alias colors="$DOTFILES_DIR/scripts/show_colors.sh"

# TYPE: alias
# DESC: source the .bash_profile
alias src="source ~/.bash_profile"

# TYPE: alias
# DESC: quick open functions script
alias fns="open $DOTFILES_DIR/bash/.functions"

# TYPE: alias
# DESC: quick open aliases script
alias als="open $DOTFILES_DIR/bash/.aliases"

# TYPE: alias
# DESC: quick open exports script
alias exp="open $DOTFILES_DIR/bash/.exports"

# TYPE: alias
# DESC: Open local bash file
alias loc="subl $DOTFILES_DIR/bash/.locals 2>/dev/null || vim $DOTFILES_DIR/bash/.locals"

# TYPE: alias
# DESC: quick open openers script
alias conf="open $DOTFILES_DIR/.local_config"

# TYPE: alias
# DESC: quick open openers script
alias jform="python $DOTFILES_DIR/python-tools/cli/format_json.py"

# TYPE: alias
# DESC: short hand for going up a directory
alias cd..="cd .."

# TYPE: alias
# DESC: short hand for going up two directories
alias cd...="cd ../.."

# TYPE: alias
# DESC: short hand for going up three directories
alias cd....="cd ../../.."

# TYPE: alias
# DESC: short hand for going to previous working directory
alias cd\-="cd -"

# TYPE: alias
# DESC: clear terminal
alias cl="clear"

# TYPE: alias
# DESC: list just directories
alias ld="ls -dl .*/ */"

# TYPE: alias
# DESC: list just files
alias lf="ls -p | grep -v /"

# TYPE: alias
# DESC: ls sorted by name
alias ls="clear;ls -alhG --color=auto || ls -alhG"

# TYPE: alias
# DESC: allow use of 'sudo' with aliases
alias sd="sudo "

# TYPE: alias
# DESC: open .init
alias init="subl $DOTFILES_DIR/.init 2>/dev/null || vim $DOTFILES_DIR/.init"

# TYPE: alias
# DESC: change to .dotfiles directory
alias dot="cd $DOTFILES_DIR; cl; ls"

# TYPE: alias
# DESC: open .pythonrc
alias pyrc="open $DOTFILES_DIR/.pythonrc"

# TYPE: alias
# DESC: open hamerspoon config file
alias ham="open $DOTFILES_DIR/.hammerspoon/init.lua"

# TYPE: alias
# DESC: open tasks file
alias tasks="subl $NOTES_DIR/tasks.txt || echo 'ERROR: Make sure you set NOTES_DIR in .local_config'"

# TYPE: alias
# DESC: open vim config file
alias vimrc="open $DOTFILES_DIR/.vimrc"

# TYPE: alias
# DESC: quickly open python tools directory
alias tools="open $PYTHON_TOOLS_DIR || echo 'ERROR: Make sure you set PYTHON_TOOLS_DIR in .local_config'"

# TYPE: alias
# DESC: list all active aliases
alias aliases="python $DOTFILES_DIR/scripts/get_aliases.py"

# TYPE: alias
# DESC: show recently used commands
alias commands="python $DOTFILES_DIR/scripts/get_top_commands.py"

# TYPE: alias
# DESC: list directories in the current PATH
alias path="python $DOTFILES_DIR/scripts/get_path.py"

# TYPE: alias
# DESC: quick jump to Desktop directory
alias d="cd ~/Desktop; cl; ls"

# TYPE: alias
# DESC: quick jump to home directory and ls
alias h="cd ~; cl"

# TYPE: alias
# DESC: quick jump to src directory and ls
alias s="cd $SRC_DIR; cl; ls"

# TYPE: alias
# DESC: opens the current directory in Finder
alias o="open ."

# TYPE: alias
# DESC: Get status of current GH repo
alias gs="git status"

# TYPE: alias
# DESC: add files to GH working tree
alias ga="git add"

# TYPE: alias
# DESC: commit git changes with message
alias gc="git commit -m"

# TYPE: alias
# DESC: push changes from local repo to remote repo
alias gp="git push"

# TYPE: alias
# DESC: pull remote changes to local repo
alias gpu="git pull"

# TYPE: alias
# DESC: delete previously tracked files
alias gd="git add -u :/"

# TYPE: alias
# DESC: prints out the current environment variables alphabetically
alias env="env | sort"

# TYPE: alias
# DESC: hide hidden files in Finder
alias hide="defaults write com.apple.finder AppleShowAllFiles FALSE  && killall Finder"

# TYPE: alias
# DESC: show hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles TRUE && killall Finder"

# TYPE: alias
# DESC: follow cpu activity
alias cpu="top -F -R -o cpu"

# TYPE: alias
# DESC: activate screensaver
alias lock="/System/Library/CoreServices/ScreenSaverEngine.app/Contents/MacOS/ScreenSaverEngine"

# TYPE: alias
# DESC: open applications directory in Finder
alias app="open $APPS_DIR"

# TYPE: alias
# DESC: Opens new Chrome window
alias chr="open -n $APPS_DIR/Google\ Chrome.app"

# TYPE: alias
# DESC: Opens System Preferences
alias set="open -a /Applications/System\ Preferences.app"

# TYPE: alias
# DESC: cd to github folder
alias gh="cd $SRC_DIR/github; cl"

# TYPE: alias
# DESC: open src folder
alias os="o ~/src"

# TYPE: alias
# DESC: open github folder
alias og="o ~/src/github"

# TYPE: alias
# DESC: open Desktop folder
alias od="o ~/Desktop"

