#!/bin/bash

# TYPE: export
# DESC: sets the main terminal prompt displayed on every line
export PS1='\[`tput setaf 014`\]\h\[`tput setaf 255`\]:$PWD\n\[`tput setaf 200`\]\w \[`tput sgr0`\]\n$ '

# TYPE: export
# DESC: sets the continuation string for multi-line commands
export PS2='--> '

# TYPE: export
# DESC: sets the default file editor
export EDITOR="${EDITOR_APP}/Contents/MacOS/Sublime\ Text"

# TYPE: export
# DESC: add a python startup script
export PYTHONSTARTUP=${DOTFILES_DIR}/.pythonrc

# TYPE: export
# DESC: add 'tools' module to PYTHONPATH
# export PYTHONPATH=$PYTHONPATH:$DOTFILES_DIR/python-tools

# TYPE: export
# DESC: Used to detect if iTerm is active terminal
export TERM_PROGRAM="iTerm"

# TYPE: export
# DESC: Python command to get the active script's directory
export SCRIPT_DIR="os.path.dirname(os.path.realpath(__file__))"

# TYPE: path
# DESC: adds 'subl' command to the active PATH
PATH=$PATH:${EDITOR_APP}/Contents/SharedSupport/bin

export PATH