#!/bin/bash

# TYPE: function
# DESC: ensures the default 'python' command is v3.6+
function py3 {
	if [ $# -eq 0 ] 
	then
    	python3.6
	else
		echo "args"
		python3.6 "$@"
	fi
}

# TYPE: function
# DESC: ensures the default 'python' command is v3.6+
function py2 {
	if [ $# -eq 0 ] 
	then
    	python2.7
	else
		python2.7 "$@"
	fi
}

# TYPE: function
# DESC: Creates and openes new file
function new {
  if [[ $# -eq 0 ]] ; then
    cd ${NVALT_DIR}
    subl -n
   else
    touch $1
    open $1
   fi
}

# TYPE: function
# DESC: Prints Time To First Byte (in milliseconds) 
function ttfb {
   out=$(curl -s -o /dev/null -w "Connect: %{time_connect} TTFB: %{time_starttransfer} Total time: %{time_total} \n" $1)
   num=$(echo $out | awk '{print $4}')
   t=$(echo $num*1000 | bc)
   echo ${t%.*}
}

# TYPE: function
# DESC: Renames the current terminal tab
function tab {
   echo -en "\033]0;${1}\a"
}

# TYPE: function
# DESC: "GitHub Everything" takes one 1 as the commit message. This function will add all changed files, 
#       commit the files, and push
function ghe {
  if [[ $# -eq 1 ]] ; then
    git add *
    git commit -m "${1}"
    git push
   fi
}

